{% extends 'base_admin.html.twig' %}
{% block menu_job %} active {% endblock %}

{% block title %}Edit Job{% endblock %}

{% block body %}
    <h1>Edit Job</h1>

    {{ include('back/job/_form.html.twig', {'button_label': 'Update'}) }}

    <button type="button" class="btn btn-warning"><a href="{{ path('job_index') }}">back to list</a></button>

    {{ include('back/job/_delete_form.html.twig') }}
{% endblock %}
